@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__legal
      margin-left: 20px
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .user
    &__name
      margin-top: 5px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    filter: none
    &__input
      width: 340px     
  .hotel
    padding-bottom: 60px
    &-info
      &__name
        margin-top: 2px
    &-grid
      height: 100%
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-about
      flex-direction: row
    &-slider
      width: 100%
      height: 450px
  .booking
    width: 340px
    max-height: 210px
    padding-right: 23px
    padding-left: 23px
  .map
    width: 340px
    max-height: 210px
  .packages
    padding-bottom: 60px
    &__title
      margin-bottom: 55px
    &-wrapper
      grid-template-columns: 1fr 1fr
      grid-template-rows: 500px 500px 500px
      gap: 15px
  .newsletter
    padding-top: 92px
    padding-bottom: 93px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 579px
        min-height: 299px
        &:after, &:before
          display: none
      &__text
        padding: 0
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    padding-right: 16%
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  
      grid-row-gap: 40px
    &__legal
      margin-left: 0
    &__logo
      grid-row: 1 / 2
      grid-column: 1
      width: 104px
      height: 110px
      margin-bottom: 10px
    &__title
      &-contact
        margin-bottom: 25px
    &__social
      &-network
        margin-top: 5px
        margin-left: 60px
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-bottom: 13px
    &__additional
      margin-left: -50px
      grid-column: span 2
    &__legal
      margin-left: 15px
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        max-width: 540px
        grid-column: span 5
        grid-row: 4
        margin-bottom: 15px
    &__input
      &-group
        flex-basis: 47%
    &__informations
      grid-column: span 6
      max-height: 22px
    &__rules
      margin-left: 0
  .modal
    &__dialog
      overflow-y: scroll
      max-width: 400px
      padding-top: 15px
      padding-bottom: 15px
      padding-right: 40px
      padding-left: 40px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          width: 245px
          margin-left: 0
          margin-bottom: 20px
    &__user
      flex-direction: column
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 74px
      padding-top: 31px
      overflow-y: scroll
      scroll-snap-type: y
      &--visible
        scroll-snap-align: start
        display: block
    &-menu
      padding-top: 0
      flex-direction: column
      align-items: center
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
            justify-content: center
  .menu
    &-button
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 16px
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    padding-bottom: 40px
    &-about
        flex-direction: column
        min-height: 450px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-slider
        height: 350px
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
  .navbar
    &-top
      &__menu
        &-button
          margin-bottom: -5px
  .stars
    margin-top: -4px
    flex-basis: auto
    width: auto
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &__title
      font-size: 30px
      margin-bottom: 45px
    &-wrapper  
      grid-template-columns: 100%
      grid-template-rows: 1fr 480px 480px 480px 480px
  .package
    display: grid
    grid-column: 1 / 2
    grid-template-columns: 100%
    &:first-child
      grid-column: 1 
      grid-template-columns: 100%
    &__images
      height: 240px
      &-first
        height: 300px
        width: 100%
    &__image
      &-first
        object-fit: cover
    &__info, &__info-first
      padding-top: 22px
      padding-right: 21px
      padding-bottom: 25px
      padding-left: 21px
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 40px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding-right: 30px
        padding-bottom: 36px
        padding-left: 30px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -90px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -90px
  .activities
    padding-bottom: 70px
  .card
    width: 48%
    height: 250px
  .footer
    padding-top: 69px
    &__additional
      margin-left: -10px
    &__input
      &-group
        flex-basis: 100%
    &__social
      &-network
        margin-left: 10px
  .modal
    &__dialog
      max-width: 400px
      min-width: 400px
      padding-right: 15px
      padding-left: 15px
    &__message
      margin-bottom: 0
    &__btn-info
      display: flex
      align-items: start
      flex-direction: column-reverse
      padding-bottom: 15px
    &__info
      padding-top: 15px
      padding-bottom: 15px
@media (max-width: 576px)
  .logo
    width: 99px
  .navbar
    &-top
      padding: 28px 0
  .breadcrumb
    &-list
      padding-bottom: 18px
  .stars
    padding-right: 30px
    padding-top: 10px
  .hotel
    padding-top: 0
    padding-bottom: 39px
    &__slider
      margin-bottom: 20px
      height: 250px
    &-description
      max-width: 280px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
        margin-bottom: -5px
  .subscribe
    width: 280px
    &__input
      padding-left: 20px
  .activities
    padding-top: 37px
    padding-bottom: 60px
    &__title
      font-size: 18px
      margin-bottom: 33px
  .card
    padding-right: 30%
    &:nth-child(even)
      order: 10
    &:not(:first-child):nth-child(odd)
      margin-bottom: 28px
    &:last-child
      padding-right: 15%
      margin-bottom: 0
  .card
    width: 100%
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      grid-column-gap: 0
    &__title
      &-categories
        margin-bottom: 20px
      &-social
        margin-bottom: 20px
      &-contact
        margin-top: 0
      &-message
        margin-bottom: 15px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 10px
    &__social
      &-network
        display: flex
        flex-direction: column
        margin-top: 0
        margin-left: 0
        grid-row: 2
        grid-column: 1
    &__legal
      margin-left: 0
      grid-row: 3
      grid-column: 1
    &__additional
      margin-left: 0
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-bottom: 10px
      &-form
        grid-row: 7
        grid-column: 1
        margin-bottom: 0
    &__icon
      margin-left: 0
      margin-right: 10px
      &-wrapper
        max-width: 30px
        min-width: 30px
    &__btn-info
      display: flex
      align-items: start
      flex-direction: column-reverse
    &__message
      margin-bottom: 0
    &__info
      padding-top: 15px
      padding-bottom: 15px
    &__informations
      flex-direction: column
      align-items: start
    &__rules
      margin-bottom: 10px
  .modal
    &__dialog
      max-width: 390px
      min-width: 280px
@media (max-width: 320px)
  .container
    max-width: 280px
  .breadcrumb
    &-list
      padding-top: 19px
      padding-bottom: 19px
  .stars
    padding-right: 17px
    padding-top: 10px
  .hotel
    &-slider
      max-width: 279px
      max-height: 179px
    &-info
      padding-bottom: 38px
    &-about
      display: flex
      min-height: 405px
      max-height: 405px
  .booking
    max-width: 279px
    padding-right: 21px
    padding-left: 21px
  .map
    max-width: 279px
    min-height: 173px
    max-height: 173px
  .newsletter
    padding-left: 7px   
  .reviews
    &__title
      margin: auto
      margin-bottom: 42px
      max-width: 245px
    
      
  

  
  
  
  